.foot{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.git{
    height: 30px;
    width: 30px;
    margin: 4px;
}

.abc{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.leftSpace{
    margin-left: 20px;
}

