<div class="foot">
        <div class="text-center text-dark abc" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-dark" href="#">ekartexpress.com</a>
            <div class="text-center leftSpace">
              <a href="www.youtube.com"><img class="git" src="../../../assets/youtube.svg" alt="youtube"></a>
              <a href="www.instagram.com"><img class="git" src="../../../assets/instagram.svg" alt="instagram"></a>
              <a href="www.twitter.com"><img class="git" src="../../../assets/twitter.svg" alt="twitter"></a>
              <a href="www.facebook.com"><img class="git" src="../../../assets/facebook.svg" alt="facebook"></a>
            </div>
          </div>
</div>