<app-nav-bar></app-nav-bar>

<div class="hdDiv">
  
  <div class="container">
      <div class="row">
      @for(item of data; track $index)
      {
          <div class="col-4">
          <div class="card m-2" style="width: 25rem;">
              <img src={{item.image}} class="card-img-top" alt="Photo">
              <div class="card-body">
                  <h5 class="card-title">{{item.title  | slice : 0 : 15}}</h5>
                  <p class="card-text">{{item.description  | slice : 0 : 40}}</p>
                  <h5 class="card-title">₹{{item.price}}</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
          </div>
          </div>
      }
      </div>
  </div>

</div>

<div class="conatiner">
    <img class="footImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgYseGeEN6OX4DzEhICFvnvCrUjfBPsgjdAw&usqp=CAU" alt="">
</div>

<app-footer></app-footer>