<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../../assets/siteIcon.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        eKart Express
      </a>

      <ul class="nav justify-content-end">
        <div class="nvBtn">
            <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Products</a>
                
            </li>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>

    </div>
</nav>
