<app-nav-bar></app-nav-bar>

<div class="container-fluid">
<div class="mainDiv">
<div>
    <img src="{{data.image}}" alt="photo">
</div>
<div class="subDiv">
    <div class="container">
        <h3>
            {{data.title}}
        </h3>
    </div>
    <div class="container">
        <p>
            {{data.description}}
        </p>
    </div>
    <div class="bt">
    <div class="container crt1">
        <div class="bt1">
            <button type="button" class="btn btn-primary">Cart</button>
        </div>
        <div class="bt2">
            <button type="button" class="btn btn-primary">Buy Now</button>
        </div>
    </div>
</div>
</div>
</div>
</div>

<app-footer></app-footer>